nextflow.enable.dsl=2

profiles {

    test {
        params {
            wes_samplesheet = 'test/data/ccrcc_wes_samplesheet.csv'
            outdir_base = 'test/output'
        }
    }

    docker {
        docker {
           enabled = true 
        }
    }

    aws {
        process {
            executor = 'awsbatch'                 // Use AWS Batch executor
            queue = 'nextflow-queue-2'              // Your job queue name
        }
        aws.region = 'us-east-1'                // Your AWS region
        aws.batch.platformType = 'EC2'
        // Optional S3 work/input directories
        workDir = 's3://pdx-predictor-bucket/work'
        params {
            outdir_base = 's3://pdx-predictor-bucket/output_all'
            wes_samplesheet = 's3://pdx-predictor-bucket/input/WholeExomeSequence-2-no-quotes.csv'
            reference_s3_path = 's3://pdx-predictor-bucket/input/hg19.fa'
        }
    }

}
